body {
    background-color: rgb(34, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button {
    background-color: rgb(24, 147, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}